*{
	font-family: Arial;
	box-sizing: border-box;
}
h1{
	
	text-align: center;
}	
section{
	border-style: solid;
	margin: 4.16%;
	width: 25%;
	float: left;
	position: relative;
}
section > div{
	border-style: solid;
	position: absolute;
	right: -2px;
	top: -2px;
	border-spacing: unset;
	padding: 0px 15px 0px 15px;
}
section > p {
	margin: 10px;
	margin-top: 40px;
}
#section1 {
	background-color: rgb(121,34,88);
	
}
#section1 > div {
	background-color: rgb(121,34,200);
}
#section2 {
	background-color: rgb(49,34,88);
}
#section2 > div {
	background-color: rgb(49,34,200);
}
#section3 {
	background-color: rgb(222,34,88);
}
#section3 > div {
	background-color: rgb(222,34,200);
}

@media screen and (min-width: 992px){
section{
	border-style: solid;
	margin: 4.16%;
	width: 25%;
	float: left;
}

}
@media screen and (min-width: 768px) and (max-width: 991px){
section{
	border-style: solid;
	margin: 4.16%;
	width: 41.68%;
	float: left;
}

#section3{
	clear: left;
	width: 91.68%
	
}
}
@media screen and (max-width: 767px){
section{
	border-style: solid;
	margin: 4.16%;
	width: 95.84%;
	
}

}
