body{
	background-color: purple;
}

#nav-bar {
	background-color: orange;
	border-radius: 0;
	border: 0;
}

#bs-example-navbar-collapse-1 visible-xs{
	background-color: rgb(100,10,150);

}
#bs-example-navbar-collapse-1 ul li a {
	color: white;

}
.page-header{
	border:hidden;
	text-align: center;
	color: white;
}

section{
	background-color: rgb(220,120,220);
}

section > div{
	text-align: center;
	
}

section p{
	height: 1000px;
}
